.home{
    width: 700px;
    text-align: center;
    padding: 100px 0px 0px 300px;
    color:#61d732;
    font-size: 2em;

}
body{
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTZ8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHx8fDE2OTgxNjg2MzZ8MA&ixlib=rb-4.0.3);
}
.head{
    display: flex;
    
}
.logo{
    color: red;
}
.head ul{
   display: flex;
   margin-top: 25px;
   font-size: 1.2em;
   margin-left: 250px;
   font-style: italic;
   

   
}
.home{
    color: white;
}

.head ul li{
    padding: 0px 20px;
    text-align: right;
    font-size: 1.7em;
   
    
}
.head ul li a{
    color:#d80c50;
    text-decoration: none;
}
.head  ul li a:hover{
    color: rgb(43, 219, 24);
    transition: 1s;
}
.ji li a{
    font-size: 1.2em;
}